<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input-form-facebook", placeholder: "email" %>
  </div>

  <div class="margin-top">
    <%= f.password_field :password, autocomplete: "new-password", class:"input-form-facebook", placeholder: "contraseña"  %>
  </div>

  <div class="margin-top">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input-form-facebook", placeholder: "confirmar contraseña"  %>
  </div>

  <div class="margin-top">
    <%= f.text_field :username, class:"input-form-facebook", placeholder: "username"  %>
  </div>

  <div class="actions margin-top">
    <%= f.submit "Crear cuenta", class: 'btn-facebook-primary' %>
  </div>
<% end %>
