= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label 'Nombre del producto', class:'secundary-text font-bold light-gray-text'
    = f.text_field :name, class:'input-form-facebook', placeholder: 'Nombre del producto'
  .field
    = f.label 'Descripción del producto', class:'secundary-text font-bold light-gray-text'
    = f.text_area :description, class:'input-form-facebook', placeholder:'Describe el color, tamaños, estilos y otros aspectos de tu producto'
  .field
    = f.label 'Precio', class:'secundary-text font-bold light-gray-text'
    = f.text_field :price, class:'input-form-facebook', placeholder: '00.00'
  .field
    = f.label 'Imagen principal', class:'secundary-text font-bold light-gray-text'
    = f.file_field :cover
  .field
    = f.label 'Imagenes de tu producto', class:'secundary-text font-bold light-gray-text'
    = f.file_field :images, multiple: true
  .actions.margin-top
    = f.submit 'Publicar', class:'btn-facebook-primary'
