%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Description:
  = @product.description
%p
  %b Price:
  = @product.price
%p
  %b State:
  = @product.state
%p
  %b User:
  = @product.user

=image_tag @product.cover

-@product.images.each do |image|
  =image_tag image


= link_to 'Edit', edit_product_path(@product)
